BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
ReflowComments: true
MaxEmptyLinesToKeep: 1
ConstructorInitializerIndentWidth: 4
BreakBeforeBinaryOperators: NonAssignment
IndentCaseLabels: true
DeriveLineEnding: true
